* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    background-color: rgb(253, 247, 238);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: block;
    position: fixed;
    white-space: nowrap;
    border-radius: 5px;
    top: 0;
    width: 100%;
    background-color: antiquewhite;
    z-index: 1;
}

footer {
    display: flexbox;
    position: relative;
    margin: 0;
    bottom: 0;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    background-color: antiquewhite;
}

a {
    color: rgb(224, 160, 64);
}

footer > div {
    display: inline-block;
    align-items: center;
    margin: 10px 0 0 5%;
    color: rgb(224, 160, 64);
}

h1.title {
    display: inline-block;
    align-items: center;
    vertical-align: top;
    margin: 0 0 0 5%;
    color: rgb(224, 160, 64);
}

#filter {
    display: inline-block;
}

.logo {
    height: 50px;
    width: 50px;
}

.container {
    display: flex;
    margin: 60px 0 20px;
}

.spravochnik {
    margin-left: 220px;
    height: 100%;
    width: 100%;
    position: relative;
}

.container_aside {
    position: fixed;
    width: 200px;
    height: 100%;
}

.find {
    vertical-align: middle;
}

.filter-form {
    border-color: rgba(0 0 0 0.1);
    background-color: antiquewhite;
}

.spravochnik.alphabet {
    position: sticky;
    margin: 10px 0;
    top: 50px;
    height: 35px;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 5px;
    color: rgb(224, 160, 64);
}

.link_mail {
    background-color: none;
}

.button {
    border-color: rgba(0 0 0 0.1);
    margin-top: 20px;
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
    color: rgb(224, 160, 64);
}