* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 100vh;
    background-color: #1B2473;
    letter-spacing: 1px;
    color: #787878;
}

.form {
    position: relative;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
}

.form__title {
    margin: 0 0 36px;
}

.form__group {
    display: flex;
    position: relative;
    margin-bottom: 32px;
}

.form__group.group__password {
    margin-bottom: 16px;
}

.form__group.group__checkbox {
    margin-bottom: 52px;
}

.form__label {
    position: absolute;
    top: -21px;
    left: 10px;
    font-size: 16px;
    z-index: 0;
}

.form__input {
    width: 100%;
    height: 49px;
    padding: 0 15px;
    border: 2px solid #787878;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.3em;
}

.form__input::placeholder {
    color: #ccc;
}

.form__checkbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
}

.form__checkbox-mark {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 2px solid #787878;
    border-radius: 7px;
}

.form__checkbox:checked + .form__checkbox-mark::after {
    content: '✘';
    position: absolute;
    top: 0;
    left: 1%;
}

.form__checkbox-label {
    margin-top: 3px;
    font-size: 16px;
    font-weight: normal;
}

.form__button {
    border: none;
    border-radius: 10px;
    background-color: #1A226B;
    color: #ffffff;
    font-size: 24px;
}

@media screen and (min-width: 769px) and (max-width: 1440px) {

    .form {
        padding: 26px 45px;
        width: 600px;
        height: 412px;
    }

    .form__title {
        font-size: 50px;
    }

    .form__label {
        position: absolute;
        top: -21px;
        left: 10px;
        font-size: 16px;
        z-index: 0;
    }

    .form__input {
        font-size: 36px;
    }

    .form__button {
        width: 180px;
        height: 52px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .form {
        padding: 38px 45px;
        width: 95%;
        height: 95%;
    }

    .form__title {
        font-size: 60px;
    }

    .form__button {
        width: 60%;
        padding: 0.5em;
    }
}