.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(235, 112, 107, 0.7);
    backdrop-filter: saturate(1.0) blur(5px);
}

.wrapper {
    display: flex;
    height: 50px;
    max-width: 1170px;
    margin: 0 auto;
}

.navbar__left,
.navbar__right {
    flex: 50%;
    display: flex;
    align-content: center;
}

.navbar__left {
    justify-content: flex-start;
    align-items: center;
}

.navbar__right {
    justify-content: flex-end;
}

.navbar__links,
.navbar__baths {
    display: flex;
    max-height: 50px;
    align-items: center;
    list-style-type: none;
}

.navbar__link {
    text-decoration: none;
    color: inherit;
}

.menu-bth {
    display: none;
    margin: 0 10px;
}

@media only screen and (max-width: 1014px) {
    .navbar__links-item {
        font-size: .75em;
    }
}

@media only screen and (max-width: 784px) {
    .navbar__links {
        display: none;
    }

    .menu-bth {
        display: flex;
    }
}