* {
	box-sizing: border-box;
}

body {
	margin: 15px;
	font-family: Arial, Verdana, sans-serif;
}

h1 {
	text-align: center;
	color: #0055bb;
}

h2 {
	color: #3c6593;
}

.button {
	display: block;
	border: none;
	border-radius: none;
	padding: 5px;
	font-size: 14pt;
	color: #eb706b;
	background-color: #fad4d3;
	width: 300px;
	height: 30px;
}

.container-tovar {
	display: inline-block;
	width: 300px;
	margin: 10px;
	background-color: #fff9f9;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.container-text {
	text-align: center;
}

.container-footer {
	display: block;
	padding-top: 30px;
	color:  #c5d1df;
}

.image {
	display: flex;
	height: 55px;
	float: left;
}

.image-ikon {
	width: 300px;
}

.text {
	color: #c5d1df
}

.text-price {
	font-weight: 700;
	color: #eb706b
}
